.parent{
	&--nav{
		position: absolute;
		width: 100%;
		z-index: 99;
		height: 60px;
		color: $white;
		transition: .5s ease;
		.logo{
			align-items: center;
			img{
				max-height: 80%;
			}
		}
		&.fixed{
			background: rgba($white, .9);
			position: fixed;
			box-shadow: 0 0 5px $black;
			color:$black;
			height: 50px;
			.logo{
				filter: brightness(100%) invert(100%);
			}
		}
	}
	&--header{
		background: url(../img/stock.jpg) no-repeat center center;
		background-size: cover;
		color:$white;
		height: 50vh;
		min-height: 400px;
		.header{
			&__mask{
				background: rgba($base, 0.6);
				height: 100%;
				padding-top: 100px;
			}
		}
	}
	&--footer{
		background: $base;
		color:$white;
		font-size: 16px;
		.row{
			align-items:center;
		}
		@include media-breakpoint-down( sm ){
			padding: 50px 0;
			.col--3{
				width: 50%;
				&:nth-child(2){
					display: none;
				}
			}
		}
		@include media-breakpoint-down( xs ){
			.col--3{
				width: 100%;
				text-align: center;
			}
		}
		ul{
			padding: 0;
			margin:0;
			li{
				padding: 0;
				margin:0;
				list-style: none;
			}
		}
	}
	&--copyright{
		font-size: 12px;
		.col:last-child{
			text-align: right;
		}
		@include media-breakpoint-down( xs ){
			.col,.col:last-child{
				text-align: center;
			}
		}
		.image{
			height: 30px;
			vertical-align: -8px;
			margin-left: 10px;
		}
	}
}
.row{
	flex-wrap:wrap;
	padding: 20px 0;
	&--header{
		min-height: 100px;
		h1{
			font-size: 60px;
			margin-bottom: 0;
		}
		h2{
			font-size: 30px;
		}
	}
	&--background{
		align-items:center;
		background:$base;
		color:$white;
		padding: 50px 0;
	} 
	.col{
		flex-wrap:wrap;
		flex-direction: column;
		h1,h2{
			width: 100%;
			text-align: center;
			text-transform: uppercase;
		}
		&--1{
			justify-content:center;
			p{
				width: 100%;
				display: inline-block;
				text-align: justify;
			}
		}
		&--3{
			i{
				width: 100%;
				text-align: center;
				font-size: 70px;
				height: 70px;
			}
			p{
				text-align: justify;
				padding:0 20px;
			}
		}
	}
	&--counters{
		background: $gray;
		.col{
			flex-wrap:wrap;
			& > *, p{
				width: 100%;
				justify-content: center;
				text-align: center;
			}
		}
		.count{
			font-size: 40px;
			font-weight: $bold;
			position: relative;
			&:after{
				content: "";
				height: 1px;
				// width: 100px;
				position: absolute;
				background: $alt;
				bottom: 0;
				left: 40%;
				right: 40%;
			}
		}
	}
	.wpcf7{
		width: 100%;
		&-form{
		width: 100%;
			input, textarea{
				border: 1px solid $base;
				padding: 5px;
				width: 100%;
				&:not(.button){
					margin:  0 0 10px;
				}
			}
		}
	}
	&--footer{
		align-items: flex-start !important;
		.col{
			flex-direction: column;
		}
	}
}