.button{
	padding: 10px 20px;
	background: $white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: $bold;
	position: relative;
	z-index: 10;
	transition: .3s ease;
	cursor: pointer;
	display: inline-flex;
	span{
		position: relative;
		z-index: 10;
	}
	&--border{
		border:1px solid $base;
		&:after{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			right: 100%;
			bottom: 100%;
			background: $base;
			transition: .4s ease;
			z-index: 0;
		}
		&:hover{
			color: $white;
			&:after{
				right: 0%;
				bottom: 0%;
			}
		}
	}
	&--center{
		transform: translateX(-50%);
		margin-left: 50%;
	}
}