.href{
	display: inline-block;
	position: relative;
	padding-left: 40px;
	margin: 10px 0;
	width: 100%;
	@include media-breakpoint-down( xs ){
		// width: 60%;
		text-align: left;
	}
	&:before{
		font-family: $ico-font;
		position: absolute;
		left:0;
		font-size: 25px;
		width: 40px;
		line-height: 1;
		text-align: center;
	}
	&--tel:before{
		content: "\f10b";
	}
	&--mail:before{
		content: "\f0e0";
	}
	&--adres:before{
		content: "\f041";
	}
}
