/*===========================================
=            Responsive nav menu            =
===========================================*/
.parent--nav{
		position:relative;
		.container{
			display: flex;
			justify-content: space-between;
			align-items:center;
		}
		#m_nav{
			display:none;
		}
		nav{
			ul{
				margin:0;
				padding:0;
				display: flex;
				justify-content:space-between;
				li{
					margin:0;
					padding:0;
					cursor:pointer;
					list-style: none;
					a{
						display: inline-block;
					}
				}
			}
		}
	}
@include media-breakpoint-up( md ){
	.parent--nav{
		position:relative;
		#mobile-hamburger{
			display:none;
		}
		nav{
			float:right;
			ul li a{
				padding: 10px 10px;
			}
		}
	}
}
@include media-breakpoint-down( sm ){
	.parent--nav{
		position:static;
		#mobile-hamburger{
			display:block;
			position:absolute;
			right:20px;
			top:10px;
			font-size:40px;
			z-index:90;
			cursor:pointer;
			width: 30px;
			height: 30px;
			text-align:center;
			span{
				border-radius: 3px;
				height: 5px;
				width: 100%;
				background: $white;
				position: absolute;
				left:0px;
				right:0px;
				display: inline-block;
				overflow: hidden;
				transition:all 0.3s ease;
				&:first-child,&:last-child{
					visibility:visible;
					width:100%;
					left:50%;
					transform:translateX(-50%);
				}
				&:nth-child(2){
					top: 10px;
					transform:rotate(0deg);
				}
				&:nth-child(3){
					top: 10px;
					transform:rotate(0deg);
				}
				&:last-child{
					top: 20px;
				}
			}
		}
		&.fixed{
			#mobile-hamburger{
				span{
					background: $base;
				}
			}
			// .logo{
			// 	filter: brightness(100%) invert(100%);
			// }

		}
		.header--wrap{
			position:relative;
			width:100%;
			height:100%;
		}
		nav{
			position:fixed;
			background:$white;
			width:100%;
			max-height:0%;
			top:0;
			left:0;
			right:0;
			text-align:center;
			padding-top:0px;
			z-index:80;
			visibility:hidden;
			overflow:auto;
			transition: all 1s ease;
			&::-webkit-scrollbar { 
 			   display: none; 
			}
			ul{
				width:100%;
				flex-wrap:wrap;
				li{
					width:100%;
					a{
						padding: 10px 20px;
						width:100%;
						color:$base;
					}
					&:last-child{
						padding: 10px 20px;
					}
				}
			}
		}
		#m_nav[type=checkbox]:checked{
			& ~ nav{
				max-height: 100%;
				// bottom:0;
				visibility:visible;
				padding-top:20px;
			}
			& ~ .header--wrap{
				.fixed{
					position:fixed;
				}
				#mobile-hamburger{
					.fixed{
						width:35px;				
					}
					span{
						background: $base;
						&:first-child,&:last-child{
							visibility:hidden;
							top:10px;
							width:0px;
						}
						&:nth-child(2){
							transform: rotate(45deg);
						}
						&:nth-child(3){
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
	}
}