.col{
	&--2 {
		width:50%;
		padding:0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
	&--3{
		width: 33.3%;
		padding: 0 15px;
		@include media-breakpoint-down (sm) {
			width:100%;
			padding:0;
		}
	}
	&--4{
		width: 25%;
		padding: 0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
	&--1{
		width:100%;
		padding: 0 15px;
	}
	&--2of3{
		width: 70%;
		padding: 0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
	&--1of3{
		width: 30%;
		padding: 0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
	&--3of4{
		width: 75%;
		padding: 0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
	&--1of4{
		width: 25%;
		padding: 0 15px;
		@include media-breakpoint-down (xs) {
			width:100%;
			padding:0;
		}
	}
}